In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv('data.txt', header=None, names=['X', 'Y'])

In [5]:
data

              0            1
0     (-1.42219           0)
1     (0.155443   -0.709033)
2     (0.447464   -0.304377)
3      (0.53882  -0.0744157)
4     (0.612849   0.0938559)
...         ...          ...
9995  (0.418903    0.335584)
9996  (0.573633     0.85055)
9997  (0.599561     5.39006)
9998   (1.66531    -4.54824)
9999   (3.02146   0.0784219)

[10000 rows x 2 columns]